<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <aside th:fragment="asideFragment(parameter1 , parameter2)" class="aside">
         <!-- fragment.html aside에서 매개변수를 전달하므로 받을 준비를 해야 한다(paramater 변수 지정) -->
        <ul>
            <li th:text="${parameter1}"></li>
            <li th:text="${parameter2}"></li>
        </ul>
    </aside>
</body>
</html>