<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- comment.
            Fragment 문법은 공통적으로 반복되는 HTML 코드를 줄이기 위해 존재
            일반적인 웹페이지에서는 반복되는 공통 영역들이 존재
            ex) header , footer , navigationbar , sidebar -->

    <header th:fragment="headerFragment" class="header"> <!-- 사용할 이름 headerFragment라고 설정  -->
        <h1>Fragment Header</h1>
    </header>
</body>
</html>